h1{
    text-align: center;
    text-decoration: underline;
    font-style: Italic;
    color: red;
}

h2{
    text-align: left;
    font-style: bold;
}

.negrito{
    font-weight:bold;
}

.textoVerde{
    color:limegreen;
}

.textoVermelho{
    color:red;
}

.textoSublinhado{
    text-decoration: underline;
}

p{
    text-align:left;
}

a{
    color:darkblue
}